body {
	background-image: url("../images/odfinal_splash.jpg");
}

#Invite {
	font-family: sans-serif;
	color: #FFFFFF;
	font-size: 300%;
	margin-top: 800px;
}

#Heading {
	font-family: sans-serif;
	color: #FFFFFF;
	font-size: 450%;
}
