body {
	background: #222222;
}

ul.navigation {
	color: #FFFFFF;
	display: inline;
}
h2 {
	color: #FFFFFF;
	text-align:center;
}

slider.img {
	border: 3px solid #FFFFFF;
	width: 240px;
	padding: 50px;
	margin: 10px auto 10px auto;
}

.slider-for {
	margin: 50px auto;
	position: relative;
	width: 600px;
	height: 600px;
	padding: 10px;
	box-shadow: 0 0 20px rgba(0,0,0,4);
	display: inline-block;
}

.slider-for .slick-slide img {
	max-height: 580px;
}
