body {
	background: #222222;
}

.home {
	color: #FFFFFF;
	font-family: sans-serif;
	text-align: center;
}

h1 {
	color: #FFFFFF;
	font-family: 'Syncopate', cursive;
	text-align:center;
}

figure {
	color: #FFFFFF;
	font-family: 'Syncopate', cursive;
	margin: 0px auto 0px auto;
	text-align: center;
}

figcaption {
	padding: 10px;
}
slider.img {
	border: 3px solid #FFFFFF;
	width: 240px;
	padding: 50px;
	margin: 10px auto 10px auto;
}

.slider-for {
	margin: 50px auto;
	position: relative;
	width: 600px;
	height: 450px;
	padding: 10px;
	box-shadow: 0 0 20px rgba(0,0,0,4);
	display: inline-block;
}

.slider-for .slick-slide img {
	max-height: 580px;
}
